.flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body #app {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

.image {
    margin-top: 150px;  
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

img {
    height: 150px;
    object-fit: cover;
}

input {
    margin-left: 20px;
    margin-right: 20px;
}

#answer {
    height: auto;
    width: auto;
}